* {
  margin: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: Helvetia Neue, Arial;
  font-size: 18px;
}

h1, h2 {
  color: #00960b;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.main-text {
  text-align: center;
  margin-bottom: 20px;
}

.author-text {
  font-size: 22px;
}
